<main class="form-signin w-50 mt-5 m-auto">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h1 class="h3 mb-3 fw-normal py-2">Register</h1>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" formControlName="name"
                placeholder="name@example.com" [ngClass]="{ 'is-invalid': submitted && res['name'].errors}">
            <label for="name">Full Name</label>
            <div *ngIf="submitted && res['name'].errors" class="invalid-feedback">
                <div *ngIf="res['name'].errors['required']">Name is required</div>
                <div *ngIf="res['name'].errors['pattern']">Please provide a valid name</div>
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" formControlName="userName"
                placeholder="name@example.com" [ngClass]="{ 'is-invalid': submitted && res['userName'].errors}">
            <label for="email">Email address</label>
            <div *ngIf="submitted && res['userName'].errors" class="invalid-feedback">
                <div *ngIf="res['userName'].errors['required']">Email is required</div>
                <div *ngIf="res['userName'].errors['email']">Please provide a valid email address</div>
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" formControlName="password"
                placeholder="Password" [ngClass]="{ 'is-invalid': submitted && res['password'].errors}">
            <label for="password">Password</label>
            <div *ngIf="submitted && res['password'].errors" class="invalid-feedback">
                <div *ngIf="res['password'].errors['required']">Password is required</div>
                <div *ngIf="res['password'].errors['pattern']">Password must contain at least one number, one uppercase and a
                    lowercase letter and at least 8 characters<br />Password cannot
                    contain whitespace</div>
            </div>
        </div>
        <div class="pe-auto text-end m-2" routerLink="/login"><a href="javascript:;" class="pe-auto fw-semibold link-underline-primary">Login?</a></div>
        <button class="btn btn-primary w-100 py-2" type="submit">Submit</button>
    </form>
</main>